body {
  font-family: Arial, sans-serif;
  background-color:rgb(250, 7, 197);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(229, 18, 18, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 600px;
}
