body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 7, 197);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background-color: #131313;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(242, 1, 158, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
}

h1,
h3,
p,
label {
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #0b0b0b;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px red;
    color: #333;
}

form {
    margin-top: 20px;
    background-color: #3d797b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

input,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}

input[type="text"],
textarea {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #29642b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.notes-list {
    max-height: 80vh;  
    overflow-y: auto; 
  }
  
  